<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Real Estate Agent Pipeline{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/pipeline.css') }}">
    <script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/cdn.min.js"
        integrity="sha384-9Ax3MmS9AClxJyd5/zafcXXjxmwFhZCdsT6HJoJjarvCaAkJlk5QDzjLJm+Wdx5F"
        crossorigin="anonymous"
    ></script>
    <script
        defer
        src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"
    ></script>
</head>
<body class="pipeline-page">
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
